
@{
    ViewBag.Title = "AddOccupationClass";
}

<h1 class="text-center">AddOccupationClass</h1>
<br />
<br />
<br />
<br />
<div class="container col-lg-6" style="float:none; display:block; margin-left:auto; margin-right:auto">
    <form method="post" action="/OccupationSettings/SaveOccupationClass">
        <div class="form-group input-group-lg">
            <label for="OccpationClassName">职位类型名称</label>
            <input type="text" class="form-control" id="OccpationClassName" placeholder="OccpationClassName" name="OccpationClassName">
        </div>
        <button type="submit" class="btn btn-primary btn-block input-group-lg">Submit</button>
    </form>
</div>


