
@{
    ViewBag.Title = "StaffRegist";
}

<h1 class="text-center">StaffRegist</h1>
<br />
<br />
<br />
<br />
<div class="container col-lg-11" style="float:none; display:block; margin-left:auto; margin-right:auto">
    <form method="post" action="/" class="form-inline" style="text-align: center">
        
        <!--第1行内容-->
        <div class="form-group">
            <label for="exampleInputName2">Name</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
        </div>

        <br />
        <br />



        <!--提交按钮和重置按钮-->
        <div class="form-group">
            <button type="submit" class="btn btn-primary form-control">Submit</button>
        </div> 
        <div class="form-group">
            <button type="reset" class="btn btn-default form-control">Reset</button>
        </div>
    </form>
</div>

