
@{
    ViewBag.Title = "StaffRegist";
}

<h1 class="text-center">StaffRegist</h1>
<br />
<br />
<br />
<br />
<div class="container col-lg-6" style="float:none; display:block; margin-left:auto; margin-right:auto">
    <form method="post" action="/SalaryItemSettings/SaveSalaryItem">

        <button type="submit" class="btn btn-primary btn-block input-group-lg">Submit</button>
    </form>
</div>

