
@{
    ViewBag.Title = "AddFirstOrg";
}

<h1 class="text-center">AddFirstOrg</h1>
<br />
<br />
<br />
<br />
<div class="container col-lg-6" style="float:none; display:block; margin-left:auto; margin-right:auto">
    <form method="post" action="/OrgSettings/SaveFirstOrg">
        <div class="form-group input-group-lg">
            <label for="FirstOrgName">1级机构名称</label>
            <input type="text" class="form-control" id="FirstOrgName" placeholder="FirstOrgName" name="FirstOrgName" required>
        </div>
        <input type="hidden" name="FirstOrgLevel" value="1" />
        <button type="submit" class="btn btn-primary btn-block input-group-lg">Submit</button>
    </form>
</div>

